body{
    background-color: rgba(0, 0, 0, 0.856);
    font-family: sans-serif;
    
}
h1{ 
    margin-top: 0;
    margin-bottom: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 400%;
}
h1:hover{
    font-size: 420%;
    animation-name: hover;
    animation-duration: 5s;
}
p{
    
    text-align: left;
    color:coral;
    font-size: 21px;
    
}
p:hover{
    font-size: 21.7px;
    animation-name: hover;
    animation-duration: 3s;
}

.container{
    background-color: black;
    width: 420px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
    padding: 40px;
    padding-bottom: 60px;
    margin: 5% auto 0;
    text-align: center;
}

input{
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    text-shadow: black;
    width: 80%;
    border: 1.5px solid;
    outline: none;
    background-color: rgba(133, 121, 105, 0.863) ;
    text-align: left;
    font-size: 17px;

}

input:hover{
    background-color: rgb(34, 29, 21);
    border: 2px solid;
}

button{
    margin-top: 40px;
    cursor: pointer;
    color: black;
    padding: 10px;
    border-radius: 10px;    
    font-size: 20px;
    background-color: rgba(206, 205, 164, 0.719);
    width: 20%;
}
button:hover{
    cursor: pointer;
}

@keyframes hover {
    from {color: chocolate;}
    to {color:rgb(255, 255, 255);}
}